<p>EDITAR</p>
<div class="container">
    <form (ngSubmit)="editar(formulario)" #formulario="ngForm">
        Ingresar id
        <input type="text" name="id" [(ngModel)]="id" class="form-control">
    
        Ingresar producto
        <input type="text" name="producto" [(ngModel)]="producto" class="form-control">
    
        Ingresar categoria
        <input type="text" name="categoria" [(ngModel)]="categoria" class="form-control">
    
        Ingresar color
        <input type="text" name="color" [(ngModel)]="color" class="form-control">
    
        Ingresar precio
        <input type="text" name="precio" [(ngModel)]="precio" class="form-control">
    
        <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
</div>